@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600&family=Manrope:wght@800&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}

/* ---------------- Navbar and burger menu ------------------ */
nav {
    width: 100%;
    height: 5em;
    
    display: flex;
    justify-content: flex-start;
    padding: 1em;
}

.burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 79vw;
    margin-top: 10vw;
    z-index: 2;
}

.burger-bar {
    width: 2em;
    height: 5px;
    background-color: rgb(1, 7, 9);
    margin-bottom: 1px;
}

.menu_class {
    width: 99vw;
    height: 100vh;
    background-color: aliceblue;
    margin-left:59vw ;
    left: 0;
  
    
}
.menu_class ul{
z-index: 9;
}
.menu ul li{
    list-style: none;
    z-index: 9;
   
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em, 0.1em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, -0.2em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.navic{
    padding: 0;
    margin: 0;
    transition:1s ease;
    display:none;
}
.burger-menu{
    display: none;

}
.menu ul li{
    font-family:'Manrope', sans-serif ;
    margin-left: 10px;
}
.menu{
    display: none;
}


@media (max-width:960px){
    .burger-menu{
        display: block;
        font-weight: bold;
        position: fixed;
    
    }
    
        .navic{
            display: none;
        }

        .hidden{
            display: none;

        }
        .visible{
            background-color: white;
            width: 150vw;
            height: 100vh;
           
            margin-left: 50vw;
            display: block;
        }

}

   